In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

books = []

for i in range(1,5):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response, 'html.parser')
  ol = soup.find('ol')
  articles = ol.find_all('article', class_='product_pod')
  for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    starTag = article.find('p')
    star = starTag['class'][1]
    price = article.find('p', class_='price_color').text
    price = float(price[1:])
    books.append([title, star, price])
    

df = pd.DataFrame(books, columns=['Title', 'Star Rating', 'Price'])
df.to_csv('books.csv')

In [2]:
print(df)

                                                Title Star Rating  Price
0                                A Light in the Attic       Three  51.77
1                                  Tipping the Velvet         One  53.74
2                                          Soumission         One  50.10
3                                       Sharp Objects        Four  47.82
4               Sapiens: A Brief History of Humankind        Five  54.23
..                                                ...         ...    ...
75                                           Security         Two  39.25
76      Saga, Volume 6 (Saga (Collected Editions) #6)       Three  25.02
77      Saga, Volume 5 (Saga (Collected Editions) #5)         Two  51.04
78  Reskilling America: Learning to Labor in the T...         Two  19.83
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...       Three  50.40

[80 rows x 3 columns]